body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Header */

header {
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: black;
}

.logo {
  height: 50px;
  margin-left: 10px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

a {
padding-left: 20px;
padding-right:10px;
color: seashell;
text-decoration: underline;
}

/* Main Content */

.main {
  padding-top: 69px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Mission Section*/

.mission-container {
  height: 700px;
  width: 1200px;
  background-image: url(../img-mission-background.jpg);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mission {
  text-align: center;
  background-color: black;
}

.mission h2,
.mission h4 {
  margin-top: 0px;
  margin-bottom: 20px
}

/* Tea of the Month*/

.tea-container {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.tea-header {
  text-align: center;
}

.tea-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea-items h4 {
  margin: 0;
  text-align: center;
}

img.teas {
  height: 200px;
  width: 300px;
  margin: 10px;
}


/* Locations */

.locations-container {
  height: 500px;
  width: 1200px;
  background-image: url(../img-locations-background.jpg);
  margin: 0 auto;
}

div .locations-container {
margin-top: 70px;
}

.location-header {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 15px;
}

.locations {
  display: flex;
  justify-content: center;
}

.locations-container h2 {
  margin: 0;
}


.locations-text {
  background-color: black;
  opacity: 1;
  width: 300px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

/* Contact Info */

.contact-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact-container h2,
.contact-container h5 {
  margin: 10px;
}

/* Copyright Footer */

footer h5{
  text-align: left;
  padding-left: 20px;
}
